@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tajawal:wght@200&display=swap');

.foot-container {
    display: flex;
    justify-content: space-between; 
    margin: 3.95rem 9.4rem 2.5rem 11rem;
    font-family: "Inter", serif;
}
 
.foot-item-1,
.foot-item-2,
.foot-item-3 {
    display: flex;
    justify-content: space-around;
    gap: 25px; 
    width: 32%;
}

.foot-item-3 {
    margin: 0 0 0 4px;
}

.foot-image img {
    width: 100px;
    height: auto; 
    object-fit: cover; 
}

.foot-article {
    display: flex;
    flex-direction: column;
}

.foot-id {
    font-size: 31px;
    font-weight: 800;
    color: hsl(5, 85%, 63%);
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.9rem;
}

.foot-title {
    font-size: 18px;
    font-weight: 800;
    margin: .9rem 0 .5rem 0;
    color: hsl(240, 100%, 5%);
    /* letter-spacing: 1px; */
}

.foot-title:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.foot-text-1,
.foot-text-2,
.foot-text-3
 {
    font-size: 15px;
    line-height: 1.65rem;
    color: hsl(236, 13%, 42%);
    margin: .1rem 0 0 0;
    width: 100%;
}

.foot-text-1 {
    width: 90%;
}
