@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tajawal:wght@200&display=swap');

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFF;
    color: hsl(236, 13%, 42%);
    font-family: "Inter", serif;
}

.main-left {
    width: 69%;
    margin: 0 1.75rem 0rem 9.6rem;
}

.main-image {
    width: 99.75%;
    margin: auto auto auto 0;
    overflow: hidden;
}

.main-image img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
}

.main-articles {
    margin: .8rem 0 0 0;
    display: flex;
    justify-content: space-between;
}

.main-article-left {
    width: 50%;
    margin-top: 1.2rem;
}

.main-article-left p {
    font-size: 56px;
    font-weight: 800;
    color: #000;
    width: 80%;
    letter-spacing: .075rem;
    line-height: 3.5rem;
    margin: 0;
}

.main-article-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    margin: 0 1.5rem 0 0;
    font-size: 15px;
    line-height: 1.6rem;
    /* letter-spacing: .02rem; */
}

.main-article-right p {
    margin: .85rem 0 0 0;
}


.btn {
    width: 11.65rem;
    height: 3rem;
    background-color: hsl(5, 85%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.9rem 0 0 0;
    border: none;
}

.btn p {
    color: hsl(240, 100%, 5%);
    font-size: 14px;
    font-weight: 800;
    margin: 0;
    padding: 1rem auto 1rem .98rem;
    letter-spacing: .25rem;
}

.btn:hover {
    background-color: hsl(240, 100%, 5%);
}

.btn:hover  p{
    color: hsl(36, 100%, 99%);
}

.main-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    background-color: hsl(240, 100%, 5%);
    margin: 0 8.55rem 0 0;
}

.new-title {
    color: hsl(35, 77%, 62%);
    font-weight: 700;
    font-size: 39px ;
    margin: .4rem 1rem 0 1.75rem;
}

.preview-title {
    margin: 0 1.5rem 0 1.5rem;
    color: #FFF;
    font-size: 21px;
}

.preview-text {
    margin: 0.5rem 1rem 0rem 1.5rem;
    color: hsl(233, 8%, 79%);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6rem;
}

.preview-title:hover {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}

.spacing-row {
    border: none;
    width: 90%;
    height: 1px;
    background-color: hsl(236, 13%, 42%)
}